@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #006cb5;
  display: flex;

  font-family: "GmarketSansMedium";
  min-height: 100vh; /* 웹 스크린의 100%를 최소 높이로 갖겠다 */
  margin: 0px;
}

/* Form */
.Form input {
  border: none;
  padding: 10px;
}
.Form button {
  margin-top: 30px;
  font-family: "GmarketSansMedium";
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 177, 170);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
/* MainPage */
.MainPage {
  margin-top: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}
.MainPage .mid {
  display: flex;
  justify-content: space-between;
}
.MainPage .left {
  margin-right: 200px;
  width: 20%;
  display: flex;
  flex-direction: column;
  line-height: 0.2;
}
.MainPage .left img {
  padding-top: 30px;
  width: 100%;
}
.MainPage .left .color_grey {
  color: #767676;
  font-size: 20px;
  border-left: 4px solid #006cb5;
  padding-left: 10px;
}
.MainPage .left .color_blue {
  color: #006cb5;
  font-weight: bold;
  font-size: 40px;
}
.MainPage .right {
  width: 90%;
}
.MainPage .main_button {
  width: 30%;
  margin: 20px;
  box-shadow: 1px 1px 2px 2px #767676;
  background-color: white;
  border: none;
  cursor: pointer;
}
.MainPage img {
  width: 70%;
}
.MainPage .main_button .main_text {
  font-size: 30px;
  font-family: "GmarketSansMedium";
}

/* Old */
.Old {
  min-width: 1500px;
  margin: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Old .left {
  width: 40%;
  align-items: center;
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.Old .left p {
  font-size: 50px;
}
.Old .left .tel_box {
  width: 400px;
  height: 50vh;
}
.Old .left .tel_box p {
  font-size: 40px;
  color: #ffffff;
}
.Old .right {
  width: 60%;
  align-items: center;
}
.Old .right .tel_number {
  width: 80px;
  height: 80px;
  font-size: 25px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  align-items: center;
  margin: 5px;
}
.Old .right .tel_number:hover {
  background-color: #767676;
  color: #ffffff;
}
.Old .right .nextButton {
  width: 130px;
  border: none;
  background-color: #ffffff;
  margin-left: 20px;
  padding: 25px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}
.Old .right .nextButton:hover {
  background-color: #767676;
  color: #ffffff;
}

/* Header */
.Header .dropdown {
}
.Header .dropdown a {
  color: #222;
  text-decoration: none;
}
.Header .dropdown-btn {
}
.Header .dropdown-submenu {
}
.Header .dropdown-submenu a {
  display: block;
}
